/*.operation {
	border: 1px solid white;
	width: auto;
	margin-top:20px;
	margin-left:20px;
	display:inline-grid;
	background-color:rgba(255, 255, 255, 0.295);
}

.operation_even {
	background-color:rgba(107, 165, 198, 0.295);
	border: 1px solid black;
}

.operation select{
	max-width:400px;
}
.operation {
	margin-right:20px;
	margin-bottom:20px;
}*/

.table-config {
	width: auto;
	margin-bottom: 5px;
	border: 1px solid black;
}