.param_content_div {
    overflow-y: auto;
    background-color: whitesmoke;
}

.param_content_div label {
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
}

.param_content_div input {
    display: inline-block;
    width: 100%;
}

.champ_donnee, input[type=text].champ_donnee {
    display: inline-block;
    width: 45%;
}

.champ, input[type=text].valeur, input[type=date].valeur, input[type=datetime-local].valeur {
    display: inline-block;
    width: 40%;
}

input[type=date].valeur, input[type=datetime-local].valeur {
    height: 42px;
}

.operateur {
    display: inline-block;
    width: 10%;
}

.critere_rapport, .donnee_affichee {
    display: flex;
    vertical-align: middle;
}

.delete {
    cursor: pointer;
    display: inline-block;
    height: 30px;
    vertical-align: middle;
}

.delete img {
    position: relative;
}

@media all and (max-width: 745px) {
    .delete img {
        position: unset;
        bottom: 0;
    }
}

.param_fieldset {
    margin: 5px;
    padding: 5px;
}

.param_fieldset legend {
    font-weight: bold;
    font-size: 18px;
}

button[type=submit].submit_disabled {
    cursor: unset;
    color: #9A9A9A;
    font-weight: bold;
    background-color: #D5D5D5;
    border: 2px solid #B9B9B9;
    border-radius: unset;
}

select:disabled, input:disabled {
    color: black;
    opacity: 1;
    border: 0;
    background-color: transparent;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}
select:disabled::-ms-expand { display: none; }

input[type=submit].buttonlinkdanger {
    float:none;
    background-color:red;
}

input[type=submit].buttonlinkdanger:hover {
    float:none;
    background-color:#e20000;
}

.critere_rapport_posting {
    display: flex;
}

.critere_rapport_posting .criteria_left {
    width: 40%;
    padding: 12px;
}

.critere_rapport_posting .criteria_right {
    width: 40%;
    padding: 12px;
    word-wrap: break-word;
}

.critere_rapport_posting .criteria_middle {
    width: 10%;
    padding: 12px;
}

.critere_rapport_posting .group_operator {
    height: 45px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white;
}

.critere_rapport_posting .div_operation .div_operation_ext p {
    width: 60px;
    margin: 0 auto;
}

.donnee_affichee_posting .data_to_display_left {
    padding: 12px;
}

.donnee_affichee_posting {
    background-color: white;
}

.donnee_affichee_posting, .critere_rapport_posting {
    display: flex;
    align-items: center;
    margin: 1px;
}

.div_decorative_left {
    background-color: rgba(107, 165, 198);
    border-right: 3px solid #2196F3;
    width: 25px;
    height: 50px;
}

.report_name_posting {
    padding: 12px;
    text-align: left;
    font-weight: bold;
    font-size: 16px;
}

.reporting_arrow_div {
    display: inline-block;
    width: 50px;
    margin: auto;
    vertical-align: middle;
    cursor: move;
}

.reporting_arrow_div img {
    width: 25px;
    height: 25px;
    display: block;
    margin: auto;
}

.generated_query {
    border: 1px solid black;
    margin-top: 2em;
    background-color: whitesmoke;
    width: 100%;
}

.title_query {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    background-color: lightgrey;
    letter-spacing: .1em;
    margin-top:0;
    padding: 5px 0;
    word-wrap: break-word;
}

.title_query.title_main_query {
    background-color: #56acde;
}

.generated_query p {
    padding: 0 10px;
    width: auto;
    word-wrap: break-word;
}

.generated_query p .first_keyword {
    font-weight: bold;
}
