.table_home_alertes_enabled {
    width: 100%;
}

.table_home_alertes_enabled td, .table_home_threshold td, .table_home_recipients td {
    height: 55px;
    padding: 0 0 0 15px;
    text-align: left;
}

.table_home_threshold td, .table_home_recipients td, .table_home_alertes_enabled td {
    border-bottom: 1px solid black;
}

.table_home_threshold tr:nth-child(even), .table_home_recipients tr:nth-child(even), .table_home_alertes_enabled tr:nth-child(even) {
    background-color: #EBF8FF;
}

.table_home_alertes_enabled td.activated, .table_home_alertes_enabled td.deactivated,
.table_home_threshold td.activated, .table_home_threshold td.deactivated,
.table_home_recipients td.activated, .table_home_recipients td.deactivated {
    width: 120px;
    font-weight: bolder;
}

.table_home_alertes_enabled td.deactivated, .table_home_threshold td.deactivated, .table_home_recipients td.deactivated {
    color: grey;
}

.alertes_homepage_div_ext button, .alertes_homepage_div_ext .submit-button {
    display: inline-block;
    width:100%;
    max-height: 40px;
    border-radius:0;
    box-sizing: border-box;
    text-align: center;
    line-height: normal;
}

.alertes_homepage_title { margin-block-end: 0; font-weight: bolder; }

.alertes_homepage_div_ext { background-color: #D1D5D5; border:1px solid black; height: 500px; padding: 5px 5px 0; }
.alertes_homepage_div_int { height: 460px; overflow-y: auto; }
.alertes_homepage_div_button { width: auto; margin: 0 -5px; }