.table_alertes_enabled { table-layout: initial; border:none; }
.table_alertes_enabled tr { border: none; }
.table_alertes_enabled tr:nth-child(even) { background-color: #ebf8ff; }
.table_alertes_enabled td { padding: 0 0 0 75px; text-align: left; }
.table_alertes_enabled th { background-color: #56acde; color: black; }

.table_alertes_enabled .td_email { width:40%; }
.table_alertes_enabled .td_switch { width: 20px; }
.table_alertes_enabled .td_label { padding-left:15px; width:40%; }
.table_alertes_enabled .td_cross { padding-left: 0; width: 60px; }

.table_alertes_enabled input[type=checkbox] {
    margin-right: 10px;
    position: relative;
    width: 0;
    height: 0;
    top: 5px;
}

.table_alertes_enabled input[type=email] { margin: 4px; font-size: 16px; }

@media screen and (max-width: 1200px) {
    .table_alertes_enabled .td_email, .table_alertes_enabled .td_name { padding-left:5%; }
}

@media screen and (max-width: 600px) { /* Neutralise composants.css  */
    .table-config tr.hidden_field { display: none; }
    .table-config.table_alertes_enabled { display: table; width: 100%; border: 1px solid black; }

    .table-config thead {
        position: inherit;
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    .table-config.table_alertes_enabled tr { margin-bottom: 0; border-bottom: 1px solid darkgrey; }
    .table-config thead th, .table-config .table_head th {
        display: block; width: auto;
    }
    .table-config tbody td {
        padding: 15px 0 15px 5px;
        height: auto;
        border:none;
        font-size: inherit;
    }
    .table-config tbody td.td_email { width: 95%; }
    .table-config tbody td:first-child { padding-left: 5px; border-bottom: 1px solid #dddddd; }
    .table_alertes_enabled .td_switch, .table_alertes_enabled .td_label, .table_alertes_enabled .td_cross {
        display: inline-block;
        width: auto;
    }
}

/* Source : https://www.w3schools.com/howto/howto_css_switch.asp + custom code */

.switch {
    display: inline-block;
    position: relative;
    width: 62px;
    height: 32px;
    padding: 0;
}

.slider {
    position: absolute;
    height: 30px;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #cccccc;
    transition: .4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    transform: translateX(30px);
}